/*产品介绍*/
.product-introduce{
    width: 1220px;
    margin: 0 auto;
}

.product-introduce .introduce-left,
.product-introduce .introduce-right{
    float: left;
    width: 50%;
}
.product-introduce .introduce-left{
    padding-left: 80px;
}
.product-introduce .introduce-left .top p{
    font-size: 34px;
    color:#3A3A3A;
    line-height: 34px;
}

.product-introduce .introduce-left .top p:last-child{
    position:relative;
    padding-left: 20px;
    margin-top: 16px;
}

.product-introduce .introduce-left .top p:last-child:after{
    position: absolute;
    display: block;
    content: '';
    width: 8px;
    height: 30px;
    background:#004097;
    left: 0;
    top: 2px;
}

.product-introduce .introduce-left .bottom{
    margin-top: 94px;
}

.product-introduce .introduce-left .bottom .title{
    color: #4E4E4E;
    font-size: 28px;
    margin-bottom: 20px;
}

.product-introduce .introduce-left .bottom .text{
    position: relative;
    color: #5F5F5F;
    width: 414px;
    font-size: 14px;
    line-height: 30px;
}

.product-introduce .introduce-left .bottom .index{
    font-size: 16px;
    vertical-align: top;
    line-height: 28px;
    margin-right: 8px;
    color: #1d7ab3;
    font-weight: 800;
}

.product-introduce .introduce-left .bottom .text:after{
    position: absolute;
    display: block;
    content: '';
    width:34px;
    height:8px;
    background:rgba(0,64,151,1);
    left: 0;
    bottom: -30px;
}


/*智能搜索*/

.product-search{
    width: 1220px;
    margin: 0 auto;
}

.product-search .search-left,
.product-search .search-right{
    float: left;
    width: 50%;
}

.product-search .search-right .content{
    position: relative;
    padding: 60px 80px 0 80px;
    height: 494px;
}

.product-search .search-right .content:after{

    position: absolute;
    display: block;
    content: '';
    width:34px;
    height:8px;
    background:rgba(0,64,151,1);
    left: 80px;
    bottom: 0;
}
.product-search .search-right .content .title{
    font-size: 30px;
    color: #4E4E4E;
    margin-bottom: 30px;
}
.product-search .search-right .content .text{
    color: #5F5F5F;
    font-size: 18px;
    line-height: 42px;
}
.product-search .search-left{
    text-align: right;
}
.product-search .search-left img{
    width: 500px;
}

/*我们的能力*/
.our-ability{
    width: 1220px;
    margin: 0 auto;
}

.our-ability .ability-item{
    float: left;
    width: 389px;
    height: 712px;
   margin-right: 26px;
    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition: all 0.3s;
}
.our-ability .ability-item:hover{
    transform:translateY(-10px);
    -webkit-transform:translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform:translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.our-ability .ability-item:last-child{
    margin-right: 0;
}

.our-ability .ability-item .top{
    height: 288px;
    background: #F1F0F0;
    padding: 30px 64px 0 0;
}

.our-ability .ability-item .top .top-content{
    position:relative;
    height: 100%;
    padding: 58px 58px 0 56px;
    background: #DEDEDE;
}
.our-ability .ability-item .top .top-content:after{
    position: absolute;
    display: block;
    content: '';
    width:34px;
    height:8px;
    background:rgba(0,64,151,1);
    top: 30px;
    left: 56px;
}

.our-ability .ability-item .top .top-content .title{
    font-size: 22px;
    color: #505050;
    margin-bottom: 10px;
}
.our-ability .ability-item .top .top-content .text{
    font-size: 16px;
    color: #5F5F5F;
    line-height: 28px;
}

.our-ability .ability-item .bottom{
    height: 424px;
}